<img src="/images/Logo.jpg" width=40% class="rounded mx-auto d-block">

<hr>
<br>

<h3>Welcome back, <%=current_user.email%>!</h3>

<h4>What would you like to do?</h4>


<div>
  <div class="card border-primary mb-3" style="max-width: 20rem;"><a href="/groups" >
    <div class="card-body">
      <h4 class="card-title">Plan a group outing</h4>
      <p class="card-text">Quickly view everyone's dietary restrictions and get recommendations for restaurants that can acommodate them.</p><a>
    </div>
  </div>
</div>

<div>
  <div class="card border-primary mb-3" style="max-width: 20rem;"><a href="/friends">
    <div class="card-body">
      <h4 class="card-title">See your friends</h4>
      <p class="card-text">Manage your friends list, including editing friends' details or adding a new friend.</p><a>
    </div>
  </div>
</div>



<hr>

<h4>This month's birthdays:</h4>
<ul>
<%@this_months_birthdays.each do |friend|%>
<li><%=friend.name%>: <%=friend.birthday.strftime("%A, %B %d")%></li>
<%end%>
</ul>
